:root {
  --salmon: #f0834c
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

a {
  color: var(--salmon);
}

section {
  max-width: 600px;
  padding: 2em 30px;
  margin: 0 auto;
}

header {
  background-color: var(--salmon);
  color: white;
  padding-top: 2em;
}

main > section {
  box-shadow: 0 1px 3px gray;
  background-color: white;
  margin-top: 2em;
}

main > section:first-child {
  margin-top: -2em;
}

footer {
  color: gray;
}
