:root {
  --orange: #f0834c;
  --charcoal: #1c1c1c;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
  color: var(--charcoal);
}

a {
  color: var(--orange);
}

h1, h2 {
  font-family: 'Baloo Tamma', cursive;
  line-height: 100%;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.3em;
}

section {
  max-width: 600px;
  padding: 2em 30px;
  margin: 0 auto;
}

header {
  background-color: var(--orange);
  color: white;
  padding-top: 2em;
}

main > section {
  box-shadow: 0 1px 3px gray;
  background-color: white;
  margin-top: 2em;
}

main > section:first-child {
  margin-top: -2em;
}

footer {
  color: gray;
}
